@import "../../responsive.scss";

.home {
  display: flex;
  height: 100%;

  .text-container {
    flex: 3;

    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;

      @include medium {
        padding: 0;
      }

      @include small {
        justify-content: flex-start;
      }

      .title {
        font-size: 64px;

        @include large {
          font-size: 48px;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;

        @include small {
          display: none;
        }

        h2 {
          font-size: 36px;
          @include large {
            font-size: 32px;
          }
        }
        p {
          font-size: 20px;
        }
      }
    }
  }

  .image-container {
    flex: 2;
    background-color: #fcf4f3;
    position: relative;
    display: flex;
    align-items: center;

    @include medium {
      display: none;
    }
    img {
      width: 115%;
      position: absolute;
      right: 0;

      @include large {
        width: 105%;
      }
    }
  }
}
