@import "../../responsive.scss";

.search-bar {
  .type {
    button {
      padding: 16px 36px;
      border: 1px solid #999;
      border-bottom: none;
      background-color: white;
      text-transform: capitalize;
      &.active {
        background-color: black;
        color: white;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-right: none;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-left: none;
      }
    }
  }

  form {
    border: 1px solid #999;
    display: flex;
    justify-content: space-between;
    height: 64px;
    gap:1px;

    @include small {
      flex-direction: column;
      border: none;
      gap: 5px;
    }
    input {
      border: none;
      padding: 0px 10px;
      width: 200px;

      @include large {
        padding: 0 5px;

        &:nth-child(2),
        &:nth-child(3) {
          width: 140px;
        }
      }
      @include medium {
        width: 200px;
        &:nth-child(2),
        &:nth-child(3) {
          width: 200px;
        }
      }
      @include small {
        width: auto;
        &:nth-child(2),
        &:nth-child(3) {
          width: auto;
        }
        
        & {
          padding: 20px;
          border: 1px solid #999;
        }
      }
    }

    button {
      border: none;
      background-color: #fece51;
      flex: 1;
      width: 100px;

      @include small {
        width: auto;
        padding: 10px;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
